/*
style of order page
*/

.order_container {
    margin: 0 auto;
}

.order_ojtree_left{
    width:220px;
    height: auto;
    position:absolute;
}

.order_displaylist_right {
    /*background: #888888;*/
    height:100px;
    margin-left:250px;
}

.order_single_product{
    width: 150px;
    height: 150px;
    background: #3366ff;
    position: absolute;
}


/* masonry style */
.order-tile {
    font-weight: bold;
}
    
.order-scroll-container {
    overflow: auto;
}

#ojDialogWrapper-order_my_cart_modelessDialog{
    width: 600px;
    height: auto;
}

.display_line {
    display:inline;
}

.add_minus_button {
    width: 25px;
    height: 25px;
}

.delete_button {
    width: 55px;
    height: 25px;
}

.cart_number {
    width: 30px;
    height:20px;
}

.delete_button_padding {
    padding-left: 100px;
}